<%

return unless @admin_is

groups = Sys::Group.find(:all, :conditions => {:level_no => 2}, :order => :sort_no)
users  = Sys::User.find(:all, :conditions => {:state => 'enabled'}, :order => :account).collect{|i| [i.name_with_account, i.id]}

if !item.id && !params[f.object_name]
  item.creator_group_id = Core.user_group.id
  item.creator_id       = Core.user.id
end

%>
  <tr class="onlyManager">
    <th style="">管理グループ／ユーザ</th>
    <td><%= f.select_with_tree "creator_group_id", groups, :include_blank => true %>&nbsp;／&nbsp;<%= f.array_select "creator_id", users, :include_blank => true %></td>
  </tr>

<% if false %>
<br />

<p class="managerForm">作成者</p>

<table class="show">
  <tr class="onlyManager">
    <th>グループ</th>
    <td><%= f.select_with_tree "creator_group_id", groups, :include_blank => true %></td>
  </tr>
  <tr class="onlyManager">
    <th>ユーザ</th>
    <td><%= f.array_select "creator_id", users, :include_blank => true %></td>
  </tr>
</table>
<% end %>