<% if @photos.blank?%>
表示する写真データが存在しません。
<%else%>
<%for item in @photos%>
  <%
    upload_view = %Q(<img src="#{item.file_path}"><br />)
    upload_view += %Q(#{link_to "この写真を設定する", select_sns_profile_photo_path(item)})
  %>
<div style="float: left;">
<%=link_to image_tag(item.file_path, :alt=>item.original_file_name, :width=>"100px"), "#",
  :onclick=>"photoInsert('#{upload_view}'); return false;" %><br />
<%= link_to "削除", sns_profile_photo_path(item),:method=>:delete,
  :class => :delete, :title => "削除", :confirm=>"この画像を削除します。よろしいですか？", :remote=>true%>
</div>
<%end%>
<%end%>


<script type="text/javascript">
//<![CDATA[
  function photoInsert(value) {
    preview=parent.document.getElementById('photo_preview');
    preview.innerHTML= value;
  }
//]]>
</script>