<table class="show">
  <tr>
    <th>活用してほしい能力</th>
    <td><%=f.text_area :job_skill, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>免許・資格</th>
    <td><%=f.text_area :license, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>サークル活動</th>
    <td><%=f.text_area :circle, {:cols=>60 ,:rows=>5}%></td>
  </tr>
</table>
