<table class="show">
  <tr>
    <th>趣味</th>
    <td><%=f.text_area :interest, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>日頃の考え</th>
    <td><%=f.text_area :thought, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>自主研究グループ</th>
    <td><%=f.text_area :research_group, {:cols=>60 ,:rows=>5}%></td>
  </tr>
</table>
