<table class="show">
  <tr>
    <th>住所</th>
    <td><%=f.text_field :address , {:size=>60 }%></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%=f.telephone_field :phone_number, {:class => 'number'}%></td>
  </tr>
  <tr>
    <th>携帯電話</th>
    <td><%=f.telephone_field :mobile_number, {:class => 'number'}%></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%=f.email_field :mail_addr, {:class => 'email'}%></td>
  </tr>
</table>
