<table class="show">
  <tr>
    <th>自己紹介</th>
    <td><%=f.text_area :self_introduce, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>今年の目標</th>
    <td><%=f.text_area :resolution, {:cols=>60 ,:rows=>5}%></td>
  </tr>
  <tr>
    <th>取り組んでいる仕事</th>
    <td><%=f.text_area :program, {:cols=>60 ,:rows=>5}%></td>
  </tr>
</table>
