<div class="mailboxTitle">
  <%= link_to @mailbox.title, url_for(:action => :index, :mailbox => @mailbox.name, :mobile => :list, :page => 1), :class => "link" %>
</div>
<div class="header">
<div class="headerTitle">
  <%= @item.subject %>
  <% if @item.has_attachments? %>
  <img src="/_common/themes/admin/gw/webmail/mobile/images/clip-lightblue.jpg" alt="[有]">
  <% end %>
</div>
</div>

<% unless flash[:notice] %>
<div class="notice">開封確認メールを送信しました。</div>
<% end %>

<div class="link"><%= link_to '<戻る', gw_webmail_mail_path(@mailbox.name, @item.uid), :class => 'link' %></div>
